@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Work+Sans:wght@300;400;500&display=swap');
@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
}

body{
    background-color: #E8E5C2;
}
img{
    display: block;
    margin: 0px auto 0px auto;
    width: fit-content;
}
.imagem1{
    width: 700px;
}
#corpo{
    background-color: white;
    width: 700px;
    margin: 0px auto 20px auto;
    box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.192);
}

header{
    display: block;
    background-image: linear-gradient(to bottom,#3cd983, #1D683E);
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: white;
    text-align: center;
    box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.192);
    margin-top: 0px;
}
header > h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    text-shadow: 3px 3px 4px black;
    padding: 20px 20px 10px 20px;
}
header>p{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 4px black;
    padding: 15px;
    text-align: center;
    text-indent: none;
    margin: 0px 15px 15px 15px
}
nav{
    background-color: #1b6d3f;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9em;
    color: white;
    font-weight: regular;
    text-align: left;
    padding: 8px;

}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}
nav > a:hover{
    background-color: #84E1AD;
    color: #1D683E;

}
main{
    background-color: white;
    padding: 20px;
    margin: 20px;
}
a{
    color: #1D683E;
    font-weight: bold;
    text-decoration: none;
}
h1,h2{
    font-family: 'idroid';
}
h1{
    font-size: 1.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    background-image: linear-gradient(to right, #84e1ad,white);
    color: #0f6133;
    font-size: 1.3em;
    text-indent: 10px;
}
.video{
    background-color: #094925;
    padding: 20px;
    text-align: center;

}
article#extra{
    background-color: #C5EBD6;
    border-radius: 7px 7px 7px 7px;
}
article > h3{
    background-color: #2FA866;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    margin: 10px 0px -5px 0px;
}
article > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
}
.quadro{
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
}
.caixa{
    text-decoration: underline;
    display: inline-block;
    margin: 0px 120px 0px 0px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    text-indent: 30px;
}
footer{
    background-color: #094925;
    color: white;
    text-align: center;
    padding: 3px;
}
footer > p{
    text-align: center;
}
footer > p >a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

